body {
  background-color: black;
  text-align: center;
  margin-top: 30px;
}

.panel {
  width: 200px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
}

.panel:hover {
  box-shadow: inset 0px 0px 0px 3px cyan;
  box-sizing: border-box;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  background-color: red;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  background-color: blue;
}
.top-right {
  border-top-right-radius: 100%;
  background-color: green;
}
.top-left {
  border-top-left-radius: 100%;
  background-color: yellow;
}

.active {
  background-color: white;
}